@model IEnumerable<MOJECIEAPP.Models.KYCRecords>

@{
    ViewBag.Title = "KYCRecords";
}


<div class="col-lg-12">
    <style>
        .pagination {
            display: inline-block;
        }

            .pagination a {
                color: black;
                float: left;
                padding: 8px 16px;
                text-decoration: none;
            }

                .pagination a.active {
                    background-color: #4CAF50;
                    color: mediumpurple;
                }

                .pagination a:hover:not(.active) {
                    background-color: #ddd;
                }
    </style>
    <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                <div class="mdc-card p-0">
                    <h6 class="card-title card-padding pb-0">KYC Records</h6>

                    <br />
                    <div class="row">
                        <div class="col-md-6 pl-4">
                            <div class="form-group">
                                <a href="@Url.Action("Upload", "MOJECIE")" class="mdc-button mdc-button--outlined mdc-ripple-upgraded" style="--mdc-ripple-fg-size:57px; --mdc-ripple-fg-scale:1.96763; --mdc-ripple-fg-translate-start:39.5px, 0.5px; --mdc-ripple-fg-translate-end:19.3008px, -10.5px;">
                                    <i class="fas fa-plus-square"></i>
                                    <span>
                                        <strong>Upload KYC</strong>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    @using (Html.BeginForm("KYCRecords", "MOJECIE", FormMethod.Post))
                    {
                        <div class="template-demo">
                            <div class="mdc-layout-grid__inner pl-4">
                                <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4-desktop">
                                    <div class="mdc-text-field">
                                        <input class="mdc-text-field__input" name="Data" id="text-field-hero-input">
                                        <div class="mdc-line-ripple"></div>
                                        <label for="text-field-hero-input" class="mdc-floating-label">Search</label>
                                    </div>
                                </div>
                                <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4-desktop">
                                    <div class="mdc-text-field mdc-text-field--outlined">
                                        <button type="submit" class="mdc-button mdc-button--outlined mdc-ripple-upgraded" style="--mdc-ripple-fg-size:57px; --mdc-ripple-fg-scale:1.96763; --mdc-ripple-fg-translate-start:39.5px, 0.5px; --mdc-ripple-fg-translate-end:19.3008px, -10.5px;">
                                            <i class="fas fa-search"></i>
                                            <span>
                                                <strong>Query Table</strong>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                                <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4-desktop">
                                    <div class="mdc-text-field mdc-text-field--outlined">
                                        <a  href="@Url.Action("KYCRecords", "MOJECIE")" class="mdc-button mdc-button--outlined mdc-ripple-upgraded" style="--mdc-ripple-fg-size:57px; --mdc-ripple-fg-scale:1.96763; --mdc-ripple-fg-translate-start:39.5px, 0.5px; --mdc-ripple-fg-translate-end:19.3008px, -10.5px;">
                                            <i class="fas fa-sync"></i>
                                            <span>
                                                <strong> Refresh Table</strong>
                                            </span>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    }
                    @using (Html.BeginForm("DownloadReport", "MOJECIE", FormMethod.Post))
                    {
                        <div class="template-demo">
                            <div class="mdc-layout-grid__inner pl-4">
                                <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4-desktop">
                                    <div class="mdc-text-field">
                                        <input type="text" class="mdc-text-field__input" name="start" id="text-field-hero-input">
                                        <label for="text-field-hero-input" class="mdc-floating-label">dd/mm/yy</label>
                                        <div class="mdc-line-ripple"></div>
                                    </div>
                                </div>
                                <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4-desktop">
                                    <div class="mdc-text-field">
                                        <input type="text" class="mdc-text-field__input" name="end" id="text-field-hero-input">
                                        <label for="text-field-hero-input" class="mdc-floating-label">dd/mm/yy</label>
                                        <div class="mdc-line-ripple"></div>
                                    </div>
                                </div>
                                <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4-desktop">
                                    <div class="mdc-text-field mdc-text-field--outlined">
                                        <button type="submit" class="mdc-button mdc-button--outlined mdc-ripple-upgraded" style="--mdc-ripple-fg-size:57px; --mdc-ripple-fg-scale:1.96763; --mdc-ripple-fg-translate-start:39.5px, 0.5px; --mdc-ripple-fg-translate-end:19.3008px, -10.5px;">
                                            <i class="fas fa-long-arrow-down"></i>
                                            <span>
                                                <strong>Download Report</strong>
                                            </span>
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    }
                    <div class="table-responsive">
                        <table id="example" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-left">
                                        @Html.DisplayNameFor(model => model.SN)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Batch)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ACNo1)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ACNo2)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.SBCsMAIN)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ARN)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.AdditionalComment)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="text-left">
                                        @Html.DisplayFor(modelItem => item.SN)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Batch)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ACNo1)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ACNo2)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SBCsMAIN)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ARN)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AdditionalComment)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("KYCDetails","MOJECIE", new { id = item.ARN})" class="btn btn-mini btn-outkine-orange icon-edit bigger-10"><i class="far fa-eye"></i></a>
                                    </td>
                                </tr>
                            }

                        </table>
                        <center>
                            @{
                                double totalPages = ViewBag.TotalPages;

                                <ul class="pagination">
                                    @if (ViewBag.PageNumber == 1)
                                    {
                                        <li class="mdc-button mdc-button--outlined mdc-ripple-upgraded" style="--mdc-ripple-fg-size:57px; --mdc-ripple-fg-scale:1.96763; --mdc-ripple-fg-translate-start:39.5px, 0.5px; --mdc-ripple-fg-translate-end:19.3008px, -10.5px;float:left">
                                            @Html.ActionLink("Previous", "KYCRecords", new { PageNumber = ViewBag.PageNumber })
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="mdc-button mdc-button--outlined mdc-ripple-upgraded" style="--mdc-ripple-fg-size:57px; --mdc-ripple-fg-scale:1.96763; --mdc-ripple-fg-translate-start:39.5px, 0.5px; --mdc-ripple-fg-translate-end:19.3008px, -10.5px;float:left">
                                            @Html.ActionLink("Previous", "KYCRecords", new { PageNumber = ViewBag.PageNumber - 1 })
                                        </li>
                                    }
                                    @*@for (int i = 1; i <= totalPages; i++)
                                    {
                                        if (i == ViewBag.PageNumber)
                                        {
                                            <li class="mdc-button mdc-button--outlined mdc-ripple-upgraded" style="--mdc-ripple-fg-size:57px; --mdc-ripple-fg-scale:1.96763; --mdc-ripple-fg-translate-start:39.5px, 0.5px; --mdc-ripple-fg-translate-end:19.3008px, -10.5px;float:left">
                                                @Html.ActionLink(i.ToString(), "KYCRecords", new { PageNumber = i })
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="mdc-button mdc-button--outlined mdc-ripple-upgraded" style="--mdc-ripple-fg-size:57px; --mdc-ripple-fg-scale:1.96763; --mdc-ripple-fg-translate-start:39.5px, 0.5px; --mdc-ripple-fg-translate-end:19.3008px, -10.5px;float:left">
                                                @Html.ActionLink(i.ToString(), "KYCRecords", new { PageNumber = i })
                                            </li>
                                        }
                                    }*@
                                    @if (ViewBag.PageNumber == totalPages)
                                    {
                                        <li class="mdc-button mdc-button--outlined mdc-ripple-upgraded" style="--mdc-ripple-fg-size:57px; --mdc-ripple-fg-scale:1.96763; --mdc-ripple-fg-translate-start:39.5px, 0.5px; --mdc-ripple-fg-translate-end:19.3008px, -10.5px;float:left">
                                            @Html.ActionLink("Next", "KYCRecords", new { PageNumber = ViewBag.PageNumber })
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="mdc-button mdc-button--outlined mdc-ripple-upgraded" style="--mdc-ripple-fg-size:57px; --mdc-ripple-fg-scale:1.96763; --mdc-ripple-fg-translate-start:39.5px, 0.5px; --mdc-ripple-fg-translate-end:19.3008px, -10.5px;float:left">
                                            @Html.ActionLink("Next", "KYCRecords", new { PageNumber = ViewBag.PageNumber + 1 })
                                        </li>
                                    }
                                </ul>
                            }
                        </center>

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>




